:root {
    background-color: azure;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    color: rgb(178, 84, 84);
    height: 100%;
    width: 100%;

}

/* header {
    
    
} */

.upnav {
    /* display: inline-flex; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 450px;
    padding: 10px 20px;
}
.brand-logo{
    display: inline-flex;
  align-items: center;
  gap: 10px;
  
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid black;
  background: rgba(226, 136, 136, 0.638);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 650;
  letter-spacing: 1px;
  color: var(--sand);
}

.br_name {
    align-items: center;
    letter-spacing: 5px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-indent:; */
}

.nav-actions {
    margin-left: auto;

}

main {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: stretch;
}

.bg {
    position: absolute;
    background-image: url(bgpic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

.bg_gradient {
    position: absolute;
    inset: 0;

    background-image:
        radial-gradient(1200px 900px at 50% 50%, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.65) 65%, rgba(0, 0, 0, 0.82)),
        linear-gradient(90deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.36) 38%, rgba(0, 0, 0, 0.70) 100%);

}

.main-menu {
    list-style-type: none;
}